<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover table-bordered input-sm">
        <thead>
          <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Albert Rick</td>
            <td>Martires</td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Joyce</td>
            <td>Bermoy</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Eros Niko</td>
            <td>Alvarez</td>
            <td></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Federico</td>
            <td>Sarmiento</td>
            <td></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Gian Karlo</td>
            <td>Villaluz</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
